html, body {
	height: 100%;
	width: 100%;
	position: relative;
}

input {
	margin: 10px 0;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.error {
	color: red;
	font-size: 15px;
	font-weight: bold;
}

.process {
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	color: red;
	z-index: 999;
	position: absolute;
}

.screen1 {
	/*border: 1px solid red;*/
	z-index: 1;
}
/*.screen1 .input-lg {
    font-size: 30px;
}*/
.txtScr1 {
	width: 50px !important;
}

.screen2 {
	/*border: 1px solid blue;*/
	z-index: 2;
}

.screen3 {
	/*border: 1px solid green;*/
	z-index: 3;
}